.layout_FOR {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 21px);
    grid-template-areas:
        "layout_FOR_item_1"
        "layout_FOR_item_2"
        "layout_FOR_item_3"
    ;
    row-gap: 15px;
}

.layout_FOR_item {
    grid-area: layout_FOR_item;
    display: grid;
    grid-template-columns: 35px 2px 13px 7px auto;
    grid-template-rows: 21px;
    grid-template-areas:
        "item_ano-FOR item_L-ver-FOR item_L-hor-FOR item_L-cir-FOR item_dsc-FOR"
    ;
    align-items: center;
}

.item_ano-FOR {
    grid-area: item_ano-FOR;
    display: flex;
    width: 2.1875rem;
    height: 1.3125rem;
    flex-direction: column;
    justify-content: center;
    color: #262626;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0rem; /* 0% */
}

.item_L-ver-FOR {
    grid-area: item_L-ver-FOR;
    width: 0.125rem;
    height: 2.3rem;
    flex-shrink: 0;
    background: #BFBFBF;
}

.item_L-hor-FOR {
    grid-area: item_L-hor-FOR;
    width: 0.8rem;
    height: 0.125rem;
    background: #BFBFBF;
}

.item_L-cir-FOR {
    grid-area: item_L-hor-FOR;
    width: 0.5rem;
    height: 0.5rem;
    background: #BFBFBF;
    border-radius: 6px;
    justify-self: end;
}

.item_dsc-FOR {
    grid-area: item_dsc-FOR;
    height: 1.3125rem;
    color: #000;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 5px;
}

.layout_FOR_item_1 {grid-area: layout_FOR_item_1;}
.layout_FOR_item_2 {grid-area: layout_FOR_item_2;}
.layout_FOR_item_3 {grid-area: layout_FOR_item_3;}