.layout_content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 60px;
    grid-template-areas:
        "header"
        "content"
        "footer"
    ;
    row-gap: 5px;
    margin: 20px;

    @media only screen and (max-width: 600px) {
        grid-template-rows: 145px auto 60px;
    }
}

.buttons {
    grid-area: buttons;
    
    @media only screen and (max-width: 600px) {
        justify-self: end;
    }
}
.content {grid-area: content;}

.img-portfolio {
    height: 80px;

    @media only screen and (max-width: 600px) {
        height: 60px;
    }
}