.layout_content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 60px;
    grid-template-areas:
        "header"
        "content"
        "footer"
    ;
    row-gap: 55px;
    margin: 20px;
}

.buttons {
    grid-area: buttons;
    
    @media only screen and (max-width: 678px) {
        justify-self: end;
    }
}
.content {grid-area: content;}