.layout_project-UXI {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "card-UXI_01"
    ;
    column-gap: 20px;
    justify-content: start;

    @media only screen and (max-width: 600px) {
        column-gap: 0;
        row-gap: 20px;
        justify-content: center;
    }
}

.card-UXI_01 {grid-area: card-UXI_01;}