.layout_content-INI {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 45px auto;
    grid-template-areas:
        "buttons-INI"
        "content-INI"
    ;
    row-gap: 100px;
    margin: 20px;
    height: calc(100vh - 40px);
    justify-items: center;
    align-content: start;

    @media only screen and (max-width: 999px) {
        row-gap: 20px;
    }

    @media only screen and (max-width: 600px) {
        justify-items: start;
    }
}

.buttons-INI {
    grid-area: buttons-INI;
    justify-self: end;
}
.content-INI {
    grid-area: content-INI;
    align-self: center;
}

.layout_C_INI {
    display: grid;
    grid-template-columns: 203px 407px minmax(auto, 500px);
    grid-template-areas:
        "img-C_INI layout_C_text-btn-INI accordions-C_INI"
    ;
    column-gap: 40px;

    @media only screen and (max-width: 1050px) {
        column-gap: 20px;
    }

    @media only screen and (max-width: 999px) {
        grid-template-columns: repeat(3, auto);
        grid-template-areas:
            "img-C_INI"
            "layout_C_text-btn-INI"
            "accordions-C_INI"
        ;
        column-gap: 0;
        row-gap: 20px;
    }
}

.img-C_INI {
    grid-area: img-C_INI;
    height: 203px;
}

.accordions-C_INI {
    grid-area: accordions-C_INI;
    justify-self: start;
    margin-left: 60px;

    @media only screen and (max-width: 1150px) {
        margin: 0 20px 50px 0;
    }

    @media only screen and (max-width: 999px) {
        margin: 20px 0 50px 0;
    }

    @media only screen and (max-width: 400px) {
        margin: 50px 0 50px 0;
    }
}

.layout_C_text-btn-INI {
    grid-area: layout_C_text-btn-INI;
    display: grid;
    grid-template-columns: 407px;
    grid-template-rows: max-content 30px;
    grid-template-areas:
        "text-C_INI"
        "buttons-C_INI"
    ;
    row-gap: 20px;

    @media only screen and (max-width: 400px) {
        grid-template-columns: minmax(auto, 240px);
    }
}

.text-C_INI {
    grid-area: text-C_INI;
    color: #000;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.buttons-C_INI {
    grid-area: buttons-C_INI;
    justify-self: start;
    align-self: end;
    display: flex;
    column-gap: 20px;
    height: 30px;
}

@media only screen and (max-width: 400px) {
    .layout_buttons-C_INI {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, 30px);
        grid-template-areas:
            "btn_item-C_INI-L btn_item-C_INI-G btn_item-C_INI-E btn_item-C_INI-W"
            "btn_item-C_INI-C btn_item-C_INI-C btn_item-C_INI-C ."
        ;
        row-gap: 20px;
    }

    .btn_item-C_INI-L {grid-area: btn_item-C_INI-L;}
    .btn_item-C_INI-G {grid-area: btn_item-C_INI-G;}
    .btn_item-C_INI-E {grid-area: btn_item-C_INI-E;}
    .btn_item-C_INI-W {grid-area: btn_item-C_INI-W;}
    .btn_item-C_INI-C {grid-area: btn_item-C_INI-C;}
}