.layout_header {
    background-color: #FFF;
    width:100%;
    text-align: right;
    position: fixed;
	top: 0;
	left: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "headline buttons"
        "sidebar sidebar"
    ;
    column-gap: 20px;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "buttons"
            "headline"
            "sidebar"
        ;
        column-gap: 0;
    }
}

.header {
    grid-area: header;
}