.layout_sidebar {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-template-areas:
        "link-start link-desenhos link-artigos link-palestras link-diversidades"
    ;
    justify-content: left;
    overflow-x: auto;
    background-color: white;
}

.link-start {
    grid-area: link-start;
}

.link-desenhos {
    grid-area: link-desenhos;
}

.link-artigos {
    grid-area: link-artigos;
}

.link-palestras {
    grid-area: link-palestras;
}

.link-diversidades {
    grid-area: link-diversidades;
}

.sidebar {
    grid-area: sidebar;
    position: absolute;
    top: 15px;
    width: 100%;
    padding-bottom: 20px;
}