.layout_project-DES {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(11, auto);
    grid-template-areas:
        "card-DES_41 card-DES_40 card-DES_39 card-DES_38"
        "card-DES_37 card-DES_36 card-DES_35 card-DES_34"
        "card-DES_33 card-DES_32 card-DES_31 card-DES_30"
        "card-DES_29 card-DES_28 card-DES_27 card-DES_26"
        "card-DES_25 card-DES_24 card-DES_23 card-DES_22"
        "card-DES_21 card-DES_20 card-DES_19 card-DES_18"
        "card-DES_17 card-DES_16 card-DES_15 card-DES_14"
        "card-DES_13 card-DES_12 card-DES_11 card-DES_10"
        "card-DES_09 card-DES_08 card-DES_07 card-DES_06"
        "card-DES_05 card-DES_04 card-DES_03 card-DES_02"
        "card-DES_01 . . ."
    ;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: start;

    @media only screen and (max-width: 1640px) {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(14, auto);
        grid-template-areas:
            "card-DES_41 card-DES_40 card-DES_39"
            "card-DES_38 card-DES_37 card-DES_36"
            "card-DES_35 card-DES_34 card-DES_33"
            "card-DES_32 card-DES_31 card-DES_30"
            "card-DES_29 card-DES_28 card-DES_27"
            "card-DES_26 card-DES_25 card-DES_24"
            "card-DES_23 card-DES_22 card-DES_21"
            "card-DES_20 card-DES_19 card-DES_18"
            "card-DES_17 card-DES_16 card-DES_15"
            "card-DES_14 card-DES_13 card-DES_12"
            "card-DES_11 card-DES_10 card-DES_09"
            "card-DES_08 card-DES_07 card-DES_06"
            "card-DES_05 card-DES_04 card-DES_03"
            "card-DES_02 card-DES_01 . "
        ;
    }

    @media only screen and (max-width: 900px) {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(21, auto);
        grid-template-areas:
            "card-DES_41 card-DES_40" 
            "card-DES_39 card-DES_38" 
            "card-DES_37 card-DES_36"
            "card-DES_35 card-DES_34" 
            "card-DES_33 card-DES_32" 
            "card-DES_31 card-DES_30"
            "card-DES_29 card-DES_28" 
            "card-DES_27 card-DES_26" 
            "card-DES_25 card-DES_24"
            "card-DES_23 card-DES_22" 
            "card-DES_21 card-DES_20" 
            "card-DES_19 card-DES_18"
            "card-DES_17 card-DES_16" 
            "card-DES_15 card-DES_14"
            "card-DES_13 card-DES_12"
            "card-DES_11 card-DES_10" 
            "card-DES_09 card-DES_08" 
            "card-DES_07 card-DES_06"
            "card-DES_05 card-DES_04" 
            "card-DES_03 card-DES_02" 
            "card-DES_01 . "
        ;
    }

    @media only screen and (max-width: 600px) {
        grid-template-columns: auto;
        grid-template-rows: repeat(42, auto);
        grid-template-areas:
            "card-DES_41" 
            "card-DES_40"
            "card-DES_39" 
            "card-DES_38"
            "card-DES_37"
            "card-DES_36"
            "card-DES_35" 
            "card-DES_34"
            "card-DES_33" 
            "card-DES_32" 
            "card-DES_31"
            "card-DES_30" 
            "card-DES_29" 
            "card-DES_28"
            "card-DES_27" 
            "card-DES_26" 
            "card-DES_25"
            "card-DES_24" 
            "card-DES_23" 
            "card-DES_22" 
            "card-DES_21" 
            "card-DES_20"
            "card-DES_19"
            "card-DES_18"
            "card-DES_17" 
            "card-DES_16" 
            "card-DES_15"
            "card-DES_14"
            "card-DES_13"
            "card-DES_12"
            "card-DES_11" 
            "card-DES_10"
            "card-DES_09" 
            "card-DES_08"
            "card-DES_07"
            "card-DES_06"
            "card-DES_05" 
            "card-DES_04"
            "card-DES_03" 
            "card-DES_02"
            "card-DES_01"
        ;
        column-gap: 0;
    }
}

.card-DES_01 {grid-area: card-DES_01;}
.card-DES_02 {grid-area: card-DES_02;}
.card-DES_03 {grid-area: card-DES_03;}
.card-DES_04 {grid-area: card-DES_04;}
.card-DES_05 {grid-area: card-DES_05;}
.card-DES_06 {grid-area: card-DES_06;}
.card-DES_07 {grid-area: card-DES_07;}
.card-DES_08 {grid-area: card-DES_08;}
.card-DES_09 {grid-area: card-DES_09;}
.card-DES_10 {grid-area: card-DES_10;}
.card-DES_11 {grid-area: card-DES_11;}
.card-DES_12 {grid-area: card-DES_12;}
.card-DES_13 {grid-area: card-DES_13;}
.card-DES_14 {grid-area: card-DES_14;}
.card-DES_15 {grid-area: card-DES_15;}
.card-DES_16 {grid-area: card-DES_16;}
.card-DES_17 {grid-area: card-DES_17;}
.card-DES_18 {grid-area: card-DES_18;}
.card-DES_19 {grid-area: card-DES_19;}
.card-DES_20 {grid-area: card-DES_20;}
.card-DES_21 {grid-area: card-DES_21;}
.card-DES_22 {grid-area: card-DES_22;}
.card-DES_23 {grid-area: card-DES_23;}
.card-DES_24 {grid-area: card-DES_24;}
.card-DES_25 {grid-area: card-DES_25;}
.card-DES_26 {grid-area: card-DES_26;}
.card-DES_27 {grid-area: card-DES_27;}
.card-DES_28 {grid-area: card-DES_28;}
.card-DES_29 {grid-area: card-DES_29;}
.card-DES_30 {grid-area: card-DES_30;}
.card-DES_31 {grid-area: card-DES_31;}
.card-DES_32 {grid-area: card-DES_32;}
.card-DES_33 {grid-area: card-DES_33;}
.card-DES_34 {grid-area: card-DES_34;}
.card-DES_35 {grid-area: card-DES_35;}
.card-DES_36 {grid-area: card-DES_36;}
.card-DES_37 {grid-area: card-DES_37;}
.card-DES_38 {grid-area: card-DES_38;}
.card-DES_39 {grid-area: card-DES_39;}
.card-DES_40 {grid-area: card-DES_40;}
.card-DES_41 {grid-area: card-DES_41;}