.layout_project-ART {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-template-areas:
        "card-ART_02  card-ART_01"
    ;
    column-gap: 20px;
    justify-content: start;

    @media only screen and (max-width: 600px) {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "card-ART_02"
            "card-ART_01"
        ;
        column-gap: 0;
        row-gap: 20px;
    }
}

.card-ART_01 {grid-area: card-ART_01;}
.card-ART_02 {grid-area: card-ART_02;}