.layout_project-PAL {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-template-areas:
        "card-PAL_03 card-PAL_02 card-PAL_01"
    ;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: start;

    @media only screen and (max-width: 900px) {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "card-PAL_03 card-PAL_02"
            "card-PAL_01 . "
        ;
    }

    @media only screen and (max-width: 600px) {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "card-PAL_03"
            "card-PAL_02"
            "card-PAL_01"
        ;
        column-gap: 0;
    }
}

.card-PAL_01 {grid-area: card-PAL_01;}
.card-PAL_02 {grid-area: card-PAL_02;}
.card-PAL_03 {grid-area: card-PAL_03;}