.button {
    display: inline-flex;
    padding: 0.75rem 1.3125rem;
    gap: 1rem;
    border: 1px solid #C892FF;
    background-color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

a:hover.button {
    background-color: #c892ff78;
    border: 1px solid #c892ff;
}

a:active.button, a:focus.button, a:visited.button {
    color: #000;
}