.buttons {
    color: #000000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-area: buttons;
    
    @media only screen and (max-width: 678px) {
        justify-self: end;
    }
}

.button {
    display: inline-flex;
    padding: 0.75rem 1.3125rem;
    gap: 1rem;
    border: 1px solid #C892FF;
    background-color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: #000;
}

a:hover.button {
    background-color: #D1CAE4;
    border: 1px solid #D1CAE4;
}

a:active.button, a:focus.button, a:visited.button {
    color: #000;
}