.card {
    max-width: max-content;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(103, 80, 164, 0.50);
}

.card-header {
    grid-area: card-header;
    color: #6750A4;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;;
    padding: 15px;
}

.card-img {
    grid-area: card-img;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

.card-content {
    grid-area: card-content;
    font-size: 1rem;
    line-height: 17px;
    padding: 15px;
    align-self: start;
}

.card-button {
    grid-area: card-button;
    margin: 0 15px 15px 15px;
    justify-self: end;
}

.card .button {
    width: max-content;
}

.card-img a img {
    padding: 0 0 15px 0;
    width: 100%;
}