.card {
    background-color: #fff;
    max-width: max-content;
    border: 1px solid rgba(209, 202, 228);
}

.card-header {
    grid-area: card-header;
    background-color: rgb(209 202 228 / 52%);
    color: #262626;
    padding: 15px;
}

.card-img {
    grid-area: card-img;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 15px 0 15px;
}

.card-content {
    grid-area: card-content;
    font-size: 1rem;
    line-height: 17px;
    padding: 15px;
    align-self: start;
}

.card-button {
    grid-area: card-button;
    margin: 0 15px 15px 15px;
    justify-self: end;
}

.card .button {
    width: max-content;
}

.card-img a img {
    padding: 0 0 15px 0;
    width: 100%;
}