@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: #9F46F8;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --color-title: #9F46F8;

  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
p {
  margin: 0;
}

/* GLOBAL STYLES */
body {
  display: grid;
}
  
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

h2 {
  font-family: var(--font-title);
}