.category_palestras {grid-area: category_palestras;}
.title_palestras {grid-area: title_palestras; color: var(--color-title);}
@media only screen and (min-width: 770px) {
    .title_palestras {
      margin-bottom: 25px;
    }
}
.card_PA-1 {grid-area: card_PA-1;}
.card_PA-2 {grid-area: card_PA-2;}
.card_PA-3 {grid-area: card_PA-3;}

.category_palestras {
    display: grid;
    grid-template-areas:
        "title_palestras title_palestras title_palestras"
        "card_PA-1 card_PA-2 card_PA-3"
    ;
    column-gap: 30px;
}

@media only screen and (max-width: 1125px) {
    .category_palestras {
        grid-template-areas:
            "title_palestras title_palestras"
            "card_PA-1 card_PA-2" 
            "card_PA-3 ."
        ;
        row-gap: 30px;
    }
}

@media only screen and (max-width: 745px) {
    .category_palestras {
        grid-template-areas:
            "title_palestras"
            "card_PA-1"
            "card_PA-2" 
            "card_PA-3"
        ;
    }
}