.layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "category_artigos"
        "category_desenhos-digitais"
        "category_desenhos-manuais"
        "category_diversidades"
        "category_etiquetas"
        "category_letras-musicar"
        "category_logomarcas"
        "category_palestras"
        "category_sites"
        "footer"
    ;
    justify-items: flex-start;
    row-gap: 30px;
    margin: 20px;
}

.header {
    grid-area: header;
}