.layout {
    display: grid;
    margin: 20px;
    grid-template-areas:
        "category_artigos"
        "category_desenhos-digitais"
        "category_desenhos-manuais"
        "category_diversidades"
        "category_etiquetas"
        "category_letras-musicar"
        "category_logomarcas"
    ;
    row-gap: 30px;
    width: max-content;
    justify-self: center;
}