.category_etiquetas {grid-area: category_etiquetas;}
.title_etiquetas {grid-area: title_etiquetas; color: var(--color-title);}
@media only screen and (min-width: 770px) {
    .title_etiquetas {
      margin-bottom: 25px;
    }
}
.card_ET-1 {grid-area: card_ET-1;}
.card_ET-2 {grid-area: card_ET-2;}
.card_ET-3 {grid-area: card_ET-3;}

.category_etiquetas {
    display: grid;
    grid-template-areas:
        "title_etiquetas title_etiquetas title_etiquetas"
        "card_ET-1 card_ET-2 card_ET-3"
    ;
    column-gap: 30px;
}

@media only screen and (max-width: 1125px) {
    .category_etiquetas {
        grid-template-areas:
            "title_etiquetas title_etiquetas"
            "card_ET-1 card_ET-2"
            "card_ET-3 ." 
        ;
        row-gap: 30px;
    }
}

@media only screen and (max-width: 745px) {
    .category_etiquetas {
        grid-template-areas:
            "title_etiquetas"
            "card_ET-1"
            "card_ET-2" 
            "card_ET-3"
        ;
    }
}