.layout_content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto 148px;
    grid-template-areas:
        "header"
        "content"
        "footer"
    ;
    row-gap: 55px;
    margin: 20px;

    @media only screen and (max-width: 678px) {
        grid-template-rows: auto auto 148px;
    }
}

.buttons {
    grid-area: buttons;
    
    @media only screen and (max-width: 678px) {
        justify-self: end;
    }
}
.content {grid-area: content;}