.category_letras-musicar {grid-area: category_letras-musicar;}
.title_letras-musicar {grid-area: title_letras-musicar; color: var(--color-title);}
.card_LE-1 {grid-area: card_LE-1;}
.card_LE-2 {grid-area: card_LE-2;}
.card_LE-3 {grid-area: card_LE-3;}
.card_LE-4 {grid-area: card_LE-4;}
.card_LE-5 {grid-area: card_LE-5;}

.category_letras-musicar {
    display: grid;
    grid-template-areas:
        "title_letras-musicar title_letras-musicar title_letras-musicar"
        "card_LE-1 card_LE-2 card_LE-3"
        "card_LE-4 card_LE-5 ."
    ;
    column-gap: 30px;
    row-gap: 30px;
}

@media only screen and (max-width: 1125px) {
    .category_letras-musicar {
        grid-template-areas:
            "title_letras-musicar title_letras-musicar"
            "card_LE-1 card_LE-2" 
            "card_LE-3 card_LE-4"
            "card_LE-5 ."
        ;
    }
}

@media only screen and (max-width: 745px) {
    .category_letras-musicar {
        grid-template-areas:
            "title_letras-musicar"
            "card_LE-1"
            "card_LE-2" 
            "card_LE-3"
            "card_LE-4"
            "card_LE-5"
        ;
    }
}