.category_artigos {grid-area: category_artigos;}
.title_artigos {grid-area: title_artigos; color: var(--color-title);}
@media only screen and (min-width: 770px) {
    .title_artigos {
      margin-bottom: 25px;
    }
}
.card_AR-1 {grid-area: card_AR-1;}
.card_AR-2 {grid-area: card_AR-2;}
.card_AR-3 {grid-area: card_AR-3;}

.category_artigos {
    display: grid;
    grid-template-areas:
        "title_artigos title_artigos title_artigos"
        "card_AR-1 card_AR-2 card_AR-3"
    ;
    column-gap: 30px;
}

@media only screen and (max-width: 770px) {
    .category_artigos {
        grid-template-areas:
            "title_artigos title_artigos"
            "card_AR-1 card_AR-2" 
            "card_AR-3 ."
        ;
        row-gap: 30px;
    }
}

@media only screen and (max-width: 550px) {
    .category_artigos {
        grid-template-areas:
            "title_artigos"
            "card_AR-1"
            "card_AR-2" 
            "card_AR-3"
        ;
    }
}