.category_desenhos-manuais {grid-area: category_desenhos-manuais;}
.title_desenhos-manuais {grid-area: title_desenhos-manuais; color: var(--color-title);}
.card_DM-1 {grid-area: card_DM-1;}
.card_DM-2 {grid-area: card_DM-2;}
.card_DM-3 {grid-area: card_DM-3;}
.card_DM-4 {grid-area: card_DM-4;}
.card_DM-5 {grid-area: card_DM-5;}
.card_DM-6 {grid-area: card_DM-6;}
.card_DM-7 {grid-area: card_DM-7;}
.card_DM-8 {grid-area: card_DM-8;}
.card_DM-9 {grid-area: card_DM-9;}
.card_DM-10 {grid-area: card_DM-10;}
.card_DM-11 {grid-area: card_DM-11;}
.card_DM-12 {grid-area: card_DM-12;}
.card_DM-13 {grid-area: card_DM-13;}
.card_DM-14 {grid-area: card_DM-14;}
.card_DM-15 {grid-area: card_DM-15;}
.card_DM-16 {grid-area: card_DM-16;}
.card_DM-17 {grid-area: card_DM-17;}
.card_DM-18 {grid-area: card_DM-18;}
.card_DM-19 {grid-area: card_DM-19;}
.card_DM-20 {grid-area: card_DM-20;}
.card_DM-21 {grid-area: card_DM-21;}
.card_DM-22 {grid-area: card_DM-22;}
.card_DM-23 {grid-area: card_DM-23;}
.card_DM-24 {grid-area: card_DM-24;}
.card_DM-25 {grid-area: card_DM-25;}
.card_DM-26 {grid-area: card_DM-26;}


.category_desenhos-manuais {
    display: grid;
    grid-template-areas:
        "title_desenhos-manuais title_desenhos-manuais title_desenhos-manuais"
        "card_DM-1 card_DM-2 card_DM-3"
        "card_DM-4 card_DM-5 card_DM-6"
        "card_DM-7 card_DM-8 card_DM-9"
        "card_DM-10 card_DM-11 card_DM-12"
        "card_DM-13 card_DM-14 card_DM-15"
        "card_DM-16 card_DM-17 card_DM-18"
        "card_DM-19 card_DM-20 card_DM-21"
        "card_DM-22 card_DM-23 card_DM-24"
        "card_DM-25 card_DM-26 ."
    ;
    column-gap: 30px;
    row-gap: 30px;
}

@media only screen and (max-width: 1125px) {
    .category_desenhos-manuais {
        grid-template-areas:
            "title_desenhos-manuais title_desenhos-manuais"
            "card_DM-1 card_DM-2" 
            "card_DM-3 card_DM-4"
            "card_DM-5 card_DM-6"
            "card_DM-7 card_DM-8"
            "card_DM-9 card_DM-10"
            "card_DM-11 card_DM-12"
            "card_DM-13 card_DM-14"
            "card_DM-15 card_DM-16"
            "card_DM-17 card_DM-18"
            "card_DM-19 card_DM-20" 
            "card_DM-21 card_DM-22"
            "card_DM-23 card_DM-24"
            "card_DM-25 card_DM-26"
        ;
    }
}

@media only screen and (max-width: 745px) {
    .category_desenhos-manuais {
        grid-template-areas:
            "title_desenhos-manuais"
            "card_DM-1"
            "card_DM-2" 
            "card_DM-3"
            "card_DM-4"
            "card_DM-5"
            "card_DM-6"
            "card_DM-7"
            "card_DM-8"
            "card_DM-9"
            "card_DM-10"
            "card_DM-11"
            "card_DM-12"
            "card_DM-13"
            "card_DM-14"
            "card_DM-15"
            "card_DM-16"
            "card_DM-17"
            "card_DM-18"
            "card_DM-19"
            "card_DM-20" 
            "card_DM-21"
            "card_DM-22"
            "card_DM-23"
            "card_DM-24"
            "card_DM-25"
            "card_DM-26"
        ;
    }
}