.layout_category {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
        "category-1 category-2 category-3 category-4"
    ;
    column-gap: 100px;
    align-content: center;
    justify-content: center;

    @media only screen and (max-width: 1140px) {
        column-gap: 50px;
    }

    @media only screen and (max-width: 985px) {
        grid-template-columns: repeat(2, auto);
        grid-template-areas: 
            "category-1 category-2"
            "category-3 category-4"
        ;
        column-gap: 100px;
        row-gap: 100px;
    }

    @media only screen and (max-width: 575px) {
        grid-template-columns: auto;
        grid-template-areas: 
            "category-1"
            "category-2"
            "category-3"
            "category-4"
        ;
        column-gap: 0;
    }
}

.category-1 {
    grid-area: category-1;
    width: 200px;

    @media only screen and (max-width: 575px) {
        width: 350px;
    }
}

.category-2 {
    grid-area: category-2;
    width: 200px;

    @media only screen and (max-width: 575px) {
        width: 350px;
    }
}

.category-3 {
    grid-area: category-3;
    width: 200px;

    @media only screen and (max-width: 575px) {
        width: 350px;
    }
}

.category-4 {
    grid-area: category-4;
    width: 200px;

    @media only screen and (max-width: 575px) {
        width: 350px;
    }
}