details {
    margin-bottom:20px;
}

summary {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor:pointer;
}

.accordion {
    padding: 20px;
}